<% content_for :page_title do %>
  <%= Spree.t('seven.settings') %>
<% end %>

<%= form_tag admin_seven_settings_path, method: :put do %>
  <div class='row'>
    <div class='col-12 col-md-6' data-hook='seven'>
      <div class='form-group'>
        <%= label_tag 'api_key', Spree.t('seven.api_key') %>
        <%= password_field_tag 'api_key', Spree::Seven::Config[:api_key], class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <div class='form-actions' data-hook='buttons'>
        <%= button Spree.t('seven.actions.update'), 'update' %>
      </div>
    </div>
  </div>
<% end %>
