<h1><%= t('spree.spree_seven.sms') %></h1>

<% @user_errors.each do |err| %>
  <div class='alert alert-danger'>
    <%= err %>
  </div>
<% end %>

<% if @user_message %>
  <%= content_tag :h2, Spree.t('spree.spree_seven.response') %>
  <pre><%= @user_message %></pre>
<% end %>

<%= form_with class: 'container' do |f| %>
  <div class='row'>
    <div class='col-12 col-md-6'>
      <fieldset>
        <legend><%= t('spree.spree_seven.filter.address') %></legend>

        <div class='form-group justify-content-between d-flex'>
          <%= f.label :filter_include_deleted_addresses, t('spree.spree_seven.filter.include_deleted_addresses') %>
          <%= f.check_box :filter_include_deleted_addresses %>
        </div>

        <div class='form-group'>
          <div class='field'>
            <%= f.label :filter_address_country, Spree::Country.model_name.human %>
            <span>
              <%= f.collection_select :filter_address_country, available_countries, :id, :name, {
                include_blank: t(:any_country, scope: [:spree, :admin, :prices])
              }, { class: 'custom-select form-control js-country_id' } %>
            </span>
          </div>
        </div>
      </fieldset>

      <hr>

      <div class='form-group justify-content-between d-flex'>
        <%= f.label :performance_tracking, t('spree.spree_seven.performance_tracking') %>
        <%= f.check_box :performance_tracking %>
      </div>

      <div class='form-group justify-content-between d-flex'>
        <%= f.label :flash, t('spree.spree_seven.flash') %>
        <%= f.check_box :flash %>
      </div>

      <div class='form-group justify-content-between d-flex'>
        <%= f.label :no_reload, t('spree.spree_seven.no_reload') %>
        <%= f.check_box :no_reload %>
      </div>

      <div class='form-group'>
        <%= f.label :label, t('spree.spree_seven.label') %>
        <%= f.text_field :label, class: 'form-control', maxlength: 100 %>
      </div>

      <div class='form-group'>
        <%= f.label :foreign_id, t('spree.spree_seven.foreign_id') %>
        <%= f.text_field :foreign_id, class: 'form-control', maxlength: 64 %>
      </div>

      <div class='form-group'>
        <%= f.label :from, t('spree.spree_seven.from') %>
        <%= f.text_field :from, class: 'form-control', maxlength: 16 %>
      </div>
    </div>

    <div class='col-12 col-md-6'>
      <div class='form-group'>
        <%= f.label :text, t('spree.spree_seven.text') %>
        <%= f.text_area :text, class: 'form-control required', maxlength: 1520, required: true, rows: 10 %>
      </div>
    </div>
  </div>

  <div class='form-actions' data-hook='buttons'>
    <%= f.submit t('spree.spree_seven.send'), class: 'btn btn-primary' %>
  </div>
<% end %>
